@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Raleway";
}
